/*
style.css
--------

Paul Brunet
*/
@import url('http://fonts.googleapis.com/css?family=Federo');
body
{
    font-family: Federo;
    margin:0;
    position:absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width:100%;
}
.container{
    width:100%;
}
#welcome
{
    /* width:70%; */
    margin:auto;
    font-size:2.5em;
    padding-top: 20px;
}
/* #tampon */
/* { */
/*     height:150px;    */
/*     text-align:right; */
/* } */

#top
{    
    /* position:absolute; */
    /* top:0px; */
    /* left:0px; */
    width:100%;
    height:150px;
    border: none;
    border-radius:0px;
    margin: 0px;
}

header h1
{    
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin:0;
    padding-top: 20px;
}

.ico_categorie
{
    text-align: right;
    margin-right: 8px;
    width:100%;
}

.nav_ico
{
    vertical-align: middle;
}

.box
{
    background-color:#F0F8FF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
    display:block;
}
.menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* text-align:center; */
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width:100%;
}

.space{
    padding:20px;
}

.w3c{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    margin-top:20px;
}

table.box tbody
{
    display:block;
    width:99%;
}
table.box tr
{
    display:block;
}


a.menu_msg {
    margin-left:5px;
}



nav a
{
    font-weight : bold;
}

.menu_intro{
    width:100%;
}
.menu_intro .img {
    width:42px;
    display:inline-block;
}
.menu_intro .txt {
    display:inline-block;
}

.section
{
    width: 100%;
    margin: auto;
}

section
{
    width: 100%;
    margin: auto;
}

@media (max-width: 689px) and (min-width: 500px){
    nav img{
	max-width:80%;
    }
}
@media (max-width: 502px){
    #top
    {
	height:100px;
    }
}

@media (max-width: 689px) and (min-width: 503px){
    #top
    {
	height:50px;
    }
}
@media (max-width: 890px){
    #top img{
	display:none;
	margin:0;
	padding:0;
    }
}
@media (max-width: 500px){
    nav img{
	display:none;
	margin:0;
	padding:0;
    }
    nav .menu .list{
	/* max-width:90%; */
	margin:auto;
    }
    .ico_categorie{
	display:none;
	margin:0;
	padding:0;
    }
}
@media only screen and (max-width: 689px){
    .bouton_rouge{
	display:none;
	margin:0;
	padding:0;
    }
    
    header h1
    {    
	font-size: 2em;
	padding-top: 10px;
    }
    nav .menu{
	max-width:98%;
    }
    
    nav.box
    {
	padding: 1%;
	width : 98%;
	top:110px;
	border-radius: 0px;
	margin:auto;
    }
    nav hr{
	display:none;
	margin:0;
	padding:0;
    }
    nav .list hr { 
    display: table;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* border-style: inset; */
    /* border-width: 1px; */
    width:0px;
    height:15px;
    /* size:100%; */
    }

    nav .w3c{
	display:none;
	margin:0;
	padding:0;
    }
    nav .space{
	display:none;
	margin:0;
	padding:0;
    }
    
    nav .logopic{
	display:none;
	margin:0;
	padding:0;
    }
    nav .menu .list {
	display:flex;
	/* border: 1px solid black; */
    }
    nav .menu .item {
	display:inline-block;
	margin:0px;
	padding :5px;
	/* border: 1px solid black; */
	vertical-align:middle;
	text-align:center;
    }
    nav .menu .item a {
	vertical-align:middle;
	margin:auto;
    }

    a.menu_msg {
	display:none;
	margin:0;
	padding:0;
    }
    nav .nav_ico{
	width:10%;
    }
}

@media (min-width: 690px) {
    nav .list hr {
	display:none;
	margin:0;
	padding:0;
    }

    nav
    {
	padding: 1%;
	width : 13%;
	top:160px;
	left:1%;
	position:fixed;    
	border-radius: 10px;
    }
    .right
    {
	margin-left:17%;
	width:83%;
	display:inline-block;
    }
    nav .nav_ico{
	width:40px;
	height:40px;
    }
    /* .menu .list{ */
    /* 	width:100%; */
    /* } */
    .bouton_rouge{
	display:inline-block;
    }
}
@media (min-width: 1027px){
    .content
    {
	width:78%;
	margin:0;
	display:inline-block;
    }
    #photo
    {
	margin:auto;
	display: inline-block;   
	vertical-align:top;
	padding-top:20px;
	width:20%;
	margin-left:1%;
	/* text-align:right; */
    }
}

@media only screen and (max-width: 1026px) {
    #photo {
        display: none;
	margin:0;
	padding:0;
    }
    .menu_msg {
	display: none;
	margin:0;
	padding:0;
    }
}
section header h2
{
    width: 95%;
    margin: 0px 5px 0px 5px;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4px;
    padding-right: 4px;
}
/* .box td.title { */
/*     width:95%; */
/* } */

td.ico_categorie{
    width:5%;
}
section > :not(header){
    width:90%;
    margin:auto;
}
.section > :not(header){
    width:90%;
    margin:auto;
}
p {
    text-align:justify;
}

h2
{
    font-size: 2em;
    font-weight:bold;
}

section header
{
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}


section header .sectitle
{
    width: 50%;
}

.sectitle
{
    font-size: 2em;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

.intro
{
    font-style: italic;
    font-weight: bold;
}

.lorem
{
    font-style: italic;
    color: #C90E78;
}

.totop
{
    display: inline-block;
    border :0;
    font-size: .5em;
    text-align: right;
}



.bouton_rouge
{
    height: 25px;
    width: 100px;
    bottom: 5px;
    background: url('Images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight:normal;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
    /* font-size: .5em; */
}

.bouton_rouge img
{
    border: 0;
}

footer
{
    font-style:italic;
    text-align:center;
    width:100%;
    padding: 20px 0px 0px 0px;
}

.wip
{
    font-weight:bold;
    text-align: center;
}

#logos
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


pre {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
  background-color: rgba(0,0,0,.2);
}

code {
  padding: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.2);
}

pre code {
  margin: 0 3px;
  display: block;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
}

.link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
}
.softlink {
    color: #000000;
    text-decoration: none;
}

.serious {
    font-weight: bold;
    font-size: 1.17em;
}

img.logopic {
    width: 100%;
}
.ordinal {vertical-align:super;}

.inline div {
    display: table-row;
}

.inline div div {
    display: table-cell;
}
.inline div div div {
    display: inline-block;
}

.inline .space {
     /* width:100%; */
}
.inline div div:last-child{
    text-align:center;
    vertical-align:top;
}
/* /\* .inline div div:first-child{ *\/ */
/* /\*     margin-right:auto; *\/ */
    
/* /\* } *\/ */
/* dl.inline dd { */
/*     display: inline; */
/*     width:100%; */
/*     text-align:right; */
/*     /\* margin: 0; *\/ */
/*     /\* float:right; *\/ */
/*     margin-left:auto; */
/*     margin-right:0px; */
/* } */
/* /\* dl.inline dd:after{ *\/ */
/* /\*   display: block; *\/ */
/* /\*   content: ''; *\/ */
/* /\* } *\/ */
/* dl.inline dt{ */
/*     font-weight: normal; */
/*     display: inline-block; */
/*     /\* min-width: 90%; *\/ */
/* } */

.responsiveCal {
 
position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
 
}
 
.responsiveCal iframe {
 
position: absolute; top:0; left: 0; width: 100%; height: 100%;
 
}
.st-dtitle { background:white; }
.view-cap, .view-container-border { background-color:white; border:grey;}
.mv-daynames-table { color:black; background-color:#F0F8FF; }
.st-bg-today { background:#F0F8FF; border-left:1px solid grey; border-right:1px solid grey; }
.st-dtitle-down {border-top:1px solid grey;}
.st-dtitle-today {border:1px solid grey;}
.ui-rtsr-unselected {background-color: #F0F8FF; color:black;}
.ui-rtsr-selected {background-color: #F0F8FF; color:black;}
